*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.index-container {
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(ellipse at center,
      #121212 0%, #0f0f0f 25%, #151515 50%, #131313 75%, #0a0a0a 100%);
    background-size: 200% 200%;
    animation: gradientFlow 40s ease-in-out infinite;
    will-change: background-position;
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }