/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

.user-profile-container {
    max-width: 800px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #889696;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-info p {
    margin: 5px 0;
}

.cars-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.car-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
}

@media (max-width: 600px) {
    .car-card {
        width: 100%;
    }
}

body {
    background-color: #e0e2db;
}
